{{template "part/upper.html" .}}
<div class="container ">
    <div class="wrapper col">

        <div class="formContent user">
            <a href="/check-token"><h1>Check Token</h1></a>
        </div>

    </div>

    <div class="wrapper col">

        <div class=" formContent driver">
            <a href="/register"><h1>Daftar</h1></a>
        </div>
        <div class=" formContent client">
            <a href="/list"><h1>List</h1></a>
        </div>

    </div>
</div>
{{template "part/belower.html" .}}