{{template "part/upper.html" .}}
<div class="container text-center">
    <div class="wrapper">
        <div class="formContent">
            {{template "part/error.html" .error}}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Identifier</th>
                        <th scope="col">Authorities</th>
                        <th scope="col">Scope</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $key, $client := .clients }}
                    <tr>
                        <th scope="row">{{$client.Id}}</th>
                        <td class='{{if $client.DeletedAt}}text-danger{{end}}'>{{$client.Identifier}}</td>
                        <td>{{$client.Authorities}}</td>
                        <td>{{$client.Scopes}}</td>
                        <td>
                            <a href="/client/update/{{$client.Id}}" class="btn btn-primary">Edit</a>
                            <a href="/client/delete/{{$client.Id}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {{end}}

                </tbody>
            </table>

        </div>
    </div>
</div>
{{template "part/belower.html" .}}